<div class="container mt-5 w-50">
  <div class="card">
    <div class="card-header">
      Page introuvable
    </div>
    <div class="card-body">
      <h5 class="card-title">Page 404 !</h5>
      <p class="card-text">With supporting text below as a natural lead-in to
        additional content.</p>
      <a href="/" class="btn btn-primary">revenir à l'accueil</a>
    </div>
  </div>
</div>